@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}

:root { 
    --fuente: 'Open Sans', sans-serif;
    /* --rojo-back: #DC0A2D; */
    --rojo-back: #E63946;
    /* --azul-btn: #27AAFC; */
    --azul-btn: #457B9D;
    /* --blanco: #DEDEDD; */
    --blanco: #F1FAEE;
    --negro: #232323;
    /* --negro: #1D3557; */
}

body {
    font-family: var(--fuente);
    background-color: #1D3557;
    color: #F1FAEE;
}

/* * Aqui esya el outline */

main, section, a ,p , h1, h2, h3, img , div {
    /* outline: 1px solid #fff; */
}

.container {
    max-width: 600px;
    width: 80%;
    margin: 0 auto;
}

img {
    width: 100%;
}

.container .titulo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.container .titulo h1 {
    text-align: center;
    font-size: 2rem;
    margin: 20px;
    /* margin: ; */
}

.container .titulo input {
    width: 40%;
    margin: 0px auto;
    padding: 10px 10px;
    margin-bottom: 1rem;
}

.container .titulo .btn {
    display: inline-block;
    margin: 0 auto;
    width: 40%;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    background-color: var( --azul-btn );
    color: var( --blanco );
    cursor: pointer;
}

.container .titulo .btn:hover {
    background-color: #174d6e;
}

.pokedex {
    background-color: var( --rojo-back );
    color: var( --blanco );
    border-radius: 20px;
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    box-shadow: -8px 9px 19px 1px rgba(35,35,35,0.61);
    -webkit-box-shadow: -8px 9px 19px 1px rgba(35,35,35,0.61);
    -moz-box-shadow: -8px 9px 19px 1px rgba(35,35,35,0.61);
}
.header, .footer {
    display: flex;
    justify-content: space-between;
}

.circulo-izq {
    /* border-radius: 100%; */
    border-radius: 10px 10px 100% 10px;
    border: 3px solid var(--negro);

}
.circulo-der {
    border-radius: 10px 10px 10px 100%;
    border: 3px solid var(--negro);
}

.footer .circulo-hijo {
    align-self: flex-end;
}

.footer .circulo-izq {
    /* display: flex; */

    border-radius: 10px 100% 10px 10px;
    border: 3px solid var(--negro);
}
.footer .circulo-der {
    /* display: flex; */
    border-radius: 100% 10px 10px 10px;
    border: 3px solid var(--negro);
}

.pokedex .circulo-padre {
    width: 200px;
    height: 200px;
}
.pokedex .circulo-hijo {
    width: 150px;
    height: 150px;

}
.circulo-der .circulo-hijo { float: right;  }




/* * contenido de la pojkedex */
.info {
    background-color: var(--azul-btn);
    display: flex;
    flex-wrap: wrap;
}

.info .datos {
    width: 50%;
}

.info .datos p{
    display: inline-block;
    width: 49%;
    /* text-align: right; */
}

.info .img {
    width: 50%;
}
